<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:desktop8="http://schemas.microsoft.com/appx/manifest/desktop/windows10/8"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="57dfd4ee-ec46-4a4a-8662-7f840df708db"
    Publisher="CN=Peter"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>CustomCapabilityWinUI3Demo</DisplayName>
    <PublisherDisplayName>Peter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="CustomCapabilityWinUI3Demo"
        Description="CustomCapabilityWinUI3Demo"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

    <Extensions>
        <desktop6:Extension Category="windows.customInstall">
            <desktop6:CustomInstall Folder="MyInstallers" desktop8:RunAsUser="true">
                <desktop6:InstallActions>
                    <desktop6:InstallAction File="ConsoleCpp.exe" Name="Test"/>
                </desktop6:InstallActions>
                <desktop6:RepairActions>
                    <desktop6:RepairAction File="ConsoleCpp.exe" Name="Test"/>
                </desktop6:RepairActions>
                <desktop6:UninstallActions>
                    <desktop6:UninstallAction File="ConsoleCpp.exe" Name="Test"/>
                </desktop6:UninstallActions>
            </desktop6:CustomInstall>
        </desktop6:Extension>
    </Extensions>
    
    <Capabilities>
        <rescap:Capability Name="runFullTrust" />
        <rescap:Capability Name="customInstallActions"/>
        <uap4:CustomCapability Name="Microsoft.classicAppInstaller_8wekyb3d8bbwe"/>
    </Capabilities>
</Package>
